<server description="Liberty server">
    <featureManager>
        <feature>microProfile-3.2</feature>
        <feature>jpa-2.2</feature>
    </featureManager>

    <keyStore id="defaultTrustStore"
        password="changeit"
        readOnly="false"
        type="JKS"
        location="${JAVA_HOME}/jre/lib/security/cacerts">
    </keyStore>

    <ssl id="defaultSSLSettings"
         keyStoreRef="defaultKeyStore"
         trustStoreRef="defaultTrustStore"></ssl>

    <sslDefault
        sslRef="defaultSSLSettings"
        outboundSSLRef="defaultSSLSettings"></sslDefault>

    <httpEndpoint host="*" httpPort="${default.http.port}" 
        httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>
    
    <webApplication location="starter-app.war" contextRoot="/"/>

    <dataSource id="DefaultDataSource"
                jndiName="jdbc/sample"
                jdbcDriverRef="db2-driver"
                type="javax.sql.ConnectionPoolDataSource"
                transactional="true">

        <properties.db2.jcc
            serverName="${db_server}"
            portNumber="${db_port}"
            databaseName="${db_database}"
            user="${db_user}"
            password="${db_password}"
            sslConnection="true"
            currentLockTimeout="10"
            cursorSensitivity="0"
            deferPrepares="true"
            driverType="4"
            loginTimeout="0"
            resultSetHoldability="1"
            retrieveMessagesFromServerOnGetMessage="true"
            traceLevel="-1"/>

        <connectionManager
            connectionTimeout="180"
            maxPoolSize="10"
            minPoolSize="1"
            reapTime="180"
            maxIdleTime="1800"
            agedTimeout="7200"
            purgePolicy="EntirePool" />
    </dataSource>

    <jdbcDriver
        id="db2-driver"
        javax.sql.ConnectionPoolDataSource="com.ibm.db2.jcc.DB2ConnectionPoolDataSource"
        libraryRef="db2-library"/>

    <library id="db2-library">
        <fileset
            id="db2Fileset"
            dir="${server.config.dir}/resources"
            includes="jcc*.jar"/>
    </library>

</server>
